
///////////////////////////////////////////////////////////////
/*RESETEO CSS*/
////////////////////////////////////////////////////////////////
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body { font-size: 62.5%; line-height: 1; font-family: 'Roboto', sans-serif; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
p { font-size: 1.2em; line-height: 1.0em; color: #333; }

////////////////////////////////////////////////////////////////
/*ESTILOS GENERALES*/
////////////////////////////////////////////////////////////////
$fuente: 'Roboto', sans-serif;
$colorTexto: #A6A6A6;
$tituloColor: #FCC75A;
$tituloAlineacionMobile: center;

body {
    background-color: black !important;
}

.bgc {
    background-color: black;
    opacity: .9; 
    width: 100vw;
    z-index: 5;
    position: fixed !important;
    text-align: center;
    font-size: 1.2rem;

}

.show {
    background-color: black;
    opacity: 1 !important; 
}

#logo {
    height: 5vh; 
}

.iconoSociales{
    color: #dbaa60;
    font-size: 2rem;
    padding-right: 5vw;
    padding-top: 1vh;
}

.videosProyectos {
    height: auto;
    width: 100vw;
}

h3 {
    color: $tituloColor;
    font-family: $fuente;
    font-size: 1.5rem;
}

////////////////
/*ESTILOS HOME*/
////////////////
.videoFondo {
    height: 100vh;
}
#overlayVideo {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #2d2c2c;
    opacity: 0.7;
    z-index: -1; 
}

.pieDePagina {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 0.1px solid #dbaa60;
    background-color: #dbaa6024;
    text-align: center;
    height: 100%;
    grid-area: pie; }

.redesSociales {
    height: 5vh;
    margin: 1ex; 
}

.marca {
    color: #FCC75A;
    font-family: $fuente;
    font-weight: 600;

}

.textoCarousel {
    color: white;
    font-family: $fuente;
}

.miniDescripcion {
    color: $colorTexto;
    font-family: $fuente;
    line-height: 1.6;
}

.tituloReel {
    color: $tituloColor;
    font-family: $fuente;
    text-align: $tituloAlineacionMobile;
}

.sliderPrincipal {
    height: 100vh;
}

footer span {
    color: rgb(173, 173, 173);
    font-size: 0.8rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
}

.pequeñoNosotros p {
    color: $colorTexto;
    font-family: $fuente;
}

/////////////////////
/*ESTILOS SERVICIOS*/
/////////////////////

.titulo {
    color: $tituloColor;
    font-family: $fuente;
}

.descripcion {
    color: $colorTexto;
    font-family: $fuente;
}

.subTitulo {
    color: $tituloColor;
    font-family: $fuente;
}

.descripcionSubServicios {
    color: $colorTexto;
    font-family: $fuente;
}

.hrServicios {
    border: 1px solid white;
}

////////////////////
/*ESTILOS NOSOTROS*/
////////////////////
.personas {
    border-radius: 100%;
}
.descPersonas {
    color: $colorTexto;
    font-family: $fuente;
}

////////////////////
/*ESTILOS CONTACTO*/
////////////////////
.pForm {
    color: $colorTexto;
    font-family: $fuente;
}

.tituloForm {
    color: $colorTexto;
    font-family: $fuente;
}

.colorBoton{
    color: $colorTexto !important;
    font-family: $fuente;
}

////////////////////////////////////////////////////////////////
/*MEDIA QUERIES*/
////////////////////////////////////////////////////////////////
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    ////////////////
    /*ESTILOS HOME*/
    ////////////////
    #video768, #video1024, #video1440, #video1920 { 
        display: none;
    }
    .videoFondo {
        width: 100vw;
        object-fit: fill;
    } 

    .marca {
        font-size: 3rem;
        text-align: $tituloAlineacionMobile;
        padding-top: 25vh;
    }

    .textoCarousel {
        font-size: 2rem;
        text-align: center;
    }

    .miniDescripcion {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem;
    }

    .pequeñoNosotros {
        margin: 8vh 2.5vh 8vh 2.5vh;
        h2 {
            color: $tituloColor;
            font-family: $fuente;
            text-align: $tituloAlineacionMobile;
        }
        p {
            text-align: center;
            line-height: 1.6;
        }
    }

    /////////////////////
    /*ESTILOS GENERALES*/
    /////////////////////

    .titulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 10vh;
    }

    .descripcion {
        margin: 3vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////

    .espaciadoCarousel {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .subTitulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 2vh;
    }

    .descripcionSubServicios {
        margin: 0vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    .hrServicios {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .contenedorLinkBoton{
        text-align: center;
        padding-bottom: 3vh;
    }

    .linkBtn {
        text-align: center;
    }

    /////////////////////
    /*ESTILOS PROYECTOS*/
    /////////////////////
    .tituloServicios {
        text-align: $tituloAlineacionMobile;
    }
    ////////////////////
    /*ESTILOS NOSOTROS*/
    ////////////////////

    .personas {
        width: 60vw;
    }

    ////////////////////
    /*ESTILOS CONTACTO*/
    ////////////////////

    .pForm {
        margin: 0vh 4vw 1vh 4vw;
        text-align: center;
        line-height: 1.6;
    }
    .row {
        margin-right: 0px !important; 
        margin-left: 0px !important;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .botonesContacto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    #video480, #video1024, #video1440, #video1920 { 
        display: none;
    }

    .videoFondo {
        width: 100vw;
        object-fit: fill;
    } 

    .marca {
        font-size: 3rem;
        text-align: $tituloAlineacionMobile;
        padding-top: 35vh;
    }

    .textoCarousel {
        font-size: 2rem;
        text-align: center;
    }

    .miniDescripcion {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem;
    }

    .pequeñoNosotros {
        margin: 8vh 2.5vh 8vh 2.5vh;
        h2 {
            color: $tituloColor;
            font-family: $fuente;
            text-align: $tituloAlineacionMobile;
        }
        p {
            text-align: center;
            line-height: 1.6;
        }
    }

    /////////////////////
    /*ESTILOS GENERALES*/
    /////////////////////

    .titulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 10vh;
    }

    .descripcion {
        margin: 3vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////

    .espaciadoCarousel {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .subTitulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 2vh;
    }

    .descripcionSubServicios {
        margin: 0vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    .hrServicios {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .contenedorLinkBoton{
        text-align: center;
        padding-bottom: 3vh;
    }

    .linkBtn {
        text-align: center;
    }

    ////////////////////
    /*ESTILOS NOSOTROS*/
    ////////////////////

    .personas {
        width: 30vw;
    }

    ////////////////////
    /*ESTILOS CONTACTO*/
    ////////////////////

    .pForm {
        margin: 0vh 4vw 1vh 4vw;
        text-align: center;
        line-height: 1.6;
    }
    .row {
        margin-right: 0px !important; 
        margin-left: 0px !important;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .botonesContacto {
        display: flex;
        align-items: center;
        justify-content: center;
    }




}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
    #video480, #video768, #video1440, #video1920 { 
        display: none;
    }
    .videoFondo {
        width: 100vw;
        object-fit: fill;
    } 

    .marca {
        font-size: 3rem;
        text-align: $tituloAlineacionMobile;
        padding-top: 35vh;
    }

    .textoCarousel {
        font-size: 2rem;
        text-align: center;
    }

    .miniDescripcion {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem;
    }

    .pequeñoNosotros {
        margin: 8vh 2.5vh 8vh 2.5vh;
        h2 {
            color: $tituloColor;
            font-family: $fuente;
            text-align: $tituloAlineacionMobile;
        }
        p {
            text-align: center;
            line-height: 1.6;
        }
    }

    /////////////////////
    /*ESTILOS GENERALES*/
    /////////////////////

    .titulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 10vh;
    }

    .descripcion {
        margin: 3vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////
    .lookbook {
        grid-area: lookbook;
    }

    
    .campaña {
        grid-area: campaña;
    }


    .fotografia {
        grid-area: fotografia;
    }


    .film {
        grid-area: film;
    }    

    .grillaServicios {
        display: grid;
        grid-template-areas: 
        "lookbook campaña"
        "fotografia film"
        ;
        grid-template-columns: 49vw 49vw;
        grid-template-rows: auto auto ;
    }
    .lookbook {
        padding-bottom: 1vw;
    }
    .campañas{
        padding-bottom: 1vw;
    }
    .fotografia {
        padding-bottom: 1vw;
    }
    .film {
        padding-bottom: 1vw;
    }

    
    .espaciadoCarousel {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .subTitulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 2vh;
    }

    .descripcionSubServicios {
        margin: 0vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    .hrServicios {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .contenedorLinkBoton{
        text-align: center;
        padding-bottom: 3vh;
    }

    .linkBtn {
        text-align: center;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////
    .videosProyectos {
        height: auto;
        width: 50vw;
    }
    .video1 {
        width: 50vw;
        grid-area: v1;
    }

    .video2 {
        width: 50vw;
        grid-area: v2;
    }

    .video3 {
        width: 50vw;
        grid-area: v3;
    }

    .video4 {
        width: 50vw;
        grid-area: v4;
    }

    .video5 {
        width: 50vw;
        grid-area: v5;
    }

    .video6 {
        width: 50vw;
        grid-area: v6;
    }

    .contenedorVideos {
        display: grid;
        grid-template-areas: 
        "v1 v2"
        "v3 v4"
        "v5 v6"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;

        padding-bottom: 5vh;
    }

    .row {
        margin-right: 0px !important; 
        margin-left: 0px !important;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1440px) {
    #video480, #video768, #video1024, #video1920 { 
        display: none;
    }
    .videoFondo {
        width: 100vw;
        object-fit: fill;
    } 

    .marca {
        font-size: 3rem;
        text-align: $tituloAlineacionMobile;
        padding-top: 35vh;
    }

    .textoCarousel {
        font-size: 2rem;
        text-align: center;
    }

    .miniDescripcion {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem;
    }

    .pequeñoNosotros {
        margin: 8vh 2.5vh 8vh 2.5vh;
        h2 {
            color: $tituloColor;
            font-family: $fuente;
            text-align: $tituloAlineacionMobile;
        }
        p {
            text-align: center;
            line-height: 1.6;
        }
    }

    /////////////////////
    /*ESTILOS GENERALES*/
    /////////////////////

    .titulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 10vh;
    }

    .descripcion {
        margin: 3vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////
    .lookbook {
        grid-area: lookbook;
    }

    
    .campaña {
        grid-area: campaña;
    }


    .fotografia {
        grid-area: fotografia;
    }


    .film {
        grid-area: film;
    }    

    .grillaServicios {
        display: grid;
        grid-template-areas: 
        "lookbook campaña"
        "fotografia film"
        ;
        grid-template-columns: 49vw 49vw;
        grid-template-rows: auto auto ;
    }
    .lookbook {
        padding-bottom: 1vw;
    }
    .campañas{
        padding-bottom: 1vw;
    }
    .fotografia {
        padding-bottom: 1vw;
    }
    .film {
        padding-bottom: 1vw;
    }

    
    .espaciadoCarousel {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .subTitulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 2vh;
    }

    .descripcionSubServicios {
        margin: 0vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    .hrServicios {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .contenedorLinkBoton{
        text-align: center;
        padding-bottom: 3vh;
    }

    .linkBtn {
        text-align: center;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////
    .videosProyectos {
        height: auto;
        width: 50vw;
    }
    .video1 {
        width: 50vw;
        grid-area: v1;
    }

    .video2 {
        width: 50vw;
        grid-area: v2;
    }

    .video3 {
        width: 50vw;
        grid-area: v3;
    }

    .video4 {
        width: 50vw;
        grid-area: v4;
    }

    .video5 {
        width: 50vw;
        grid-area: v5;
    }

    .video6 {
        width: 50vw;
        grid-area: v6;
    }

    .contenedorVideos {
        display: grid;
        grid-template-areas: 
        "v1 v2"
        "v3 v4"
        "v5 v6"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;

        padding-bottom: 5vh;
    }

    .contenedorForm {
        height: 80vh;
    }
    .row {
        margin-right: 0px !important; 
        margin-left: 0px !important;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

@media only screen and (min-width : 1441px) {
    #video480, #video768, #video1024, #video1440 { 
        display: none;
    }
    .videoFondo {
        width: 100vw;
        object-fit: fill;
    } 

    .marca {
        font-size: 4rem;
        text-align: $tituloAlineacionMobile;
        padding-top: 35vh;
    }

    .textoCarousel {
        font-size: 3rem;
        text-align: center;
    }

    .miniDescripcion {
        font-size: 2rem;
        text-align: center;
        padding: 0.5rem;
    }

    .pequeñoNosotros {
        margin: 8vh 2.5vh 8vh 2.5vh;
        h2 {
            color: $tituloColor;
            font-family: $fuente;
            text-align: $tituloAlineacionMobile;
        }
        p {
            text-align: center;
            line-height: 1.6;
        }
    }

    /////////////////////
    /*ESTILOS GENERALES*/
    /////////////////////

    .titulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 10vh;
    }

    .descripcion {
        margin: 3vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////
    .lookbook {
        grid-area: lookbook;
    }

    
    .campaña {
        grid-area: campaña;
    }


    .fotografia {
        grid-area: fotografia;
    }


    .film {
        grid-area: film;
    }    

    .grillaServicios {
        display: grid;
        grid-template-areas: 
        "lookbook campaña"
        "fotografia film"
        ;
        grid-template-columns: 49vw 49vw;
        grid-template-rows: auto auto ;
    }
    .lookbook {
        padding-bottom: 1vw;
    }
    .campañas{
        padding-bottom: 1vw;
    }
    .fotografia {
        padding-bottom: 1vw;
    }
    .film {
        padding-bottom: 1vw;
    }

    
    .espaciadoCarousel {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .subTitulo {
        text-align: $tituloAlineacionMobile;
        padding-top: 2vh;
    }

    .descripcionSubServicios {
        margin: 0vh 4vw 3vh 4vw;
        text-align: center;
        line-height: 1.6;
    }

    .hrServicios {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .contenedorLinkBoton{
        text-align: center;
        padding-bottom: 3vh;
    }

    .linkBtn {
        text-align: center;
    }

    /////////////////////
    /*ESTILOS SERVICIOS*/
    /////////////////////
    .videosProyectos {
        height: auto;
        width: 49.5vw;
    }
    .video1 {
        width: 49.5vw;
        grid-area: v1;
    }

    .video2 {
        width: 49.5vw;
        grid-area: v2;
    }

    .video3 {
        width: 49.5vw;
        grid-area: v3;
    }

    .video4 {
        width: 49.5vw;
        grid-area: v4;
    }

    .video5 {
        width: 49.5vw;
        grid-area: v5;
    }

    .video6 {
        width: 49.5vw;
        grid-area: v6;
    }

    .contenedorVideos {
        display: grid;
        grid-template-areas: 
        "v1 v2"
        "v3 v4"
        "v5 v6"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        width: 99vw;
        padding-bottom: 5vh;
    }

    .contenedorForm {
        height: 75vh;
    }
    .row {
        margin-right: 0px !important; 
        margin-left: 0px !important;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
